In [4]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame?

In [13]:
len([None, 2,3,5]) == len([13,14,15,16])

True

In [19]:
df = pd.DataFrame({"a":[np.nan, 2,3,4,None],"b":[5,np.nan,7,8,None],"c":[9,10,np.nan,12,None],"d":[13,14,15,16,11],"e":[1,2,3,4,None]})

In [20]:
df

     a    b     c   d    e
0  NaN  5.0   9.0  13  1.0
1  2.0  NaN  10.0  14  2.0
2  3.0  7.0   NaN  15  3.0
3  4.0  8.0  12.0  16  4.0
4  NaN  NaN   NaN  11  NaN

In [21]:
df.isnull()

       a      b      c      d      e
0   True  False  False  False  False
1  False   True  False  False  False
2  False  False   True  False  False
3  False  False  False  False  False
4   True   True   True  False   True

In [24]:
for index, row in df.iterrows():
    if pd.isnull(row["a"]) and pd.isnull(row["b"]):
        print("index {}: a and b isnull".format(index))

index 4: a and b isnull

In [26]:
for index, row in df.iterrows():
    if pd.isnull(row["a"]) and pd.isnull(row["b"]) and pd.isnull(row["c"]):
        print("index {}: a and b and c isnull".format(index))

index 4: a and b and c isnull

In [27]:
for index, row in df.iterrows():
    if pd.isnull(row["a"]) and pd.isnull(row["b"]) and pd.isnull(row["c"]) and not pd.isnull(row["d"]):
        print("index {}: a and b and c isnull, but d is not null".format(index))

index 4: a and b and c isnull, but d is not null

In [29]:
for index, row in df.iterrows():
    if pd.notnull(row["a"]) and pd.notnull(row["c"]) and pd.notnull(row["d"]):
        print("index {}: a, c and d are notnull".format(index))

index 1: a, c and d are notnull
index 3: a, c and d are notnull